<p id='instructions'>Forgot Password</p>
<br />
<div id='forgot-password-form'>
  <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
    <%= hidden_field_tag :email, @user.email %>
    <%= f.label :password, 'Password', class: 'label' %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation, 'Confirm Password', class: 'label' %>
    <%= f.password_field :password_confirmation %>
    <br /><br /><br /><br />
    <%= f.submit 'Update password' %>
  <% end %>
</div>
