<% content_for :nav_menu do %>
  <%= render 'layouts/nav_menu', links: [{ text: 'Home', path: 'users_main_path(@user)' }, { text: 'Courses', path: 'user_courses_path(@user, @user.courses)' }, { text: 'Logout', path: 'users_logout_path' }], home: 'edit_user_path(@user)' %>
<% end %>
<p id='instructions'>Edit Your Profile:</p>
<br />
<div id='edit-form'>
  <%= form_for @user, url: user_path(id: @user.id) do |f| %>
    <%= f.label :first_name, 'First Name', class: 'label' %>
    <%= f.text_field :first_name %>
    <br />
    <%= f.label :last_name, 'Last Name', class: 'label' %>
    <%= f.text_field :last_name %>
    <br />
    <%= f.label :email, 'Email', class: 'label' %>
    <%= f.text_field :email %>
    <br />
    <%= f.label :password, 'Password', class: 'label' %>
    <%= f.password_field :password %>
    <br /><br />
    <%= f.submit 'Update Account'%>
  <% end %>
  <br /> <br />
</div>
