<p id='instructions'>Log In to UNR Transportation</p>
<% if flash[:notice] %>
  <div class='notice'>
    <%= flash[:notice] %>
  </div>
<% end %>
<br />
<div id='login-form'>
  <%= form_tag(action: 'attempt_login') %>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
    <br />
    <%= label_tag :password %>
    <%= password_field_tag :password %>
    <br />
    <%= link_to "(forgot password)", new_password_reset_path %>
    <br /><br />
    <%= submit_tag 'Log In', id: 'submit'%>
</div>
