<%= content_tag(:div, nil, id: 'map_data', data: {zones: @zones, info: @info, dispensers: permit_dispensers, evcs: electric_vehicle_charging_stations, stops: pack_transit_stops, routes: pack_transit_routes, courses: @courses}) %>
<%= render 'layouts/nav_menu', links: [{ text: 'Courses', path: 'user_courses_path(@user, @user.courses)' }, { text: 'Logout', path: 'users_logout_path'}], home: 'edit_user_path(@user)' %>
<% flash.each do |key, value| %>
  <%= content_tag :div, class: "flash #{key}" do %>
    <%= value %>
    <i class="fa fa-times" aria-hidden="true"></i>
  <% end %>
<% end %>
<p id='instructions'>Please select a parking pass and time to view available parking</p>
<%= render 'layouts/map_form', additional_switches: { show_courses: 'My Courses'} %>
<div id='info'>
  <div id='title'>
    <h4 id='name'></h4>
    <span id='price'></span>
  </div>
  <p id='description'></p>
</div>
