<p id='instructions'>Sign up for UNR Transportation</p>
<br />
<div id='signup-form'>
  <%= form_for @user do |f| %>
    <%= f.label :first_name, 'First Name', class: 'label' %>
    <%= f.text_field :first_name %>
    <br />
    <%= f.label :last_name, 'Last Name', class: 'label' %>
    <%= f.text_field :last_name %>
    <br />
    <%= f.label :email, 'Email', class: 'label' %>
    <%= f.text_field :email %>
    <br />
    <%= f.label :password, 'Password', class: 'label' %>
    <%= f.password_field :password %>
    <br /><br />
    <%= f.submit 'Create Account'%>
  <% end %>
</div>
