<%= content_tag(:div, nil, id: 'map_data', data: {pass: @pass, datetime: @date, zones: @zones}) %>
<%= @zone2 %>
<div id="content">
  <div id="header">
    <h1>UNR Transportation</h1>
  </div>
  <p>
    <div id="map"></div>
    <%= form_tag({ :action => "update" }, :method => "get") do %>
      <%= select_tag(:pass, options_for_select(['Blue', 'Green', 'Yellow', 'Orange', 'Silver', 'Tan', 'Evening'])) %>
      <%= date_field_tag(:date, date = Date.current) %>
      <%= submit_tag("Submit") %>
    <% end %>
  </p>
  <div id="footer">
    <p> _ </p>
  </div>
</div>
