<!DOCTYPE html>
<html>
<head>
  <title>UNR Transportation</title>
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300,700" rel="stylesheet">
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'main', media: 'all' %>
</head>
<body>
  <div id="content">
      <div id="map"></div>
      <div id='nav'>
        <div id='header'>
          <h1>UNR Transportation</h1>
          <%= render 'layouts/nav_menu', links: [{ text: 'Login', path: 'users_login_path' }, { text: 'Sign Up', path: 'new_user_path'}], home: 'root_url' %>
        </div>
        <% flash.each do |key, value| %>
          <%= content_tag :div, class: "flash #{key}" do %>
            <%= value %>
            <i class="fa fa-times" aria-hidden="true"></i>
          <% end %>
        <% end %>
        <%= yield %>
    </div>
  </div>
</body>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6r93D1mHhWyaRh79vaTficpo47cnayLk&callback=initMap" ></script>
  <%= javascript_include_tag 'map' %>
</html>
