<!DOCTYPE html>
<html>
<head>
  <title>UNR Transportation</title>
  <link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300,700" rel="stylesheet">
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://use.fontawesome.com/db425ab257.css">
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'users', media: 'all' %>
</head>
<body>
  <div id="content">
      <div id="map"></div>
      <div id='nav'>
        <h1>UNR Transportation</h1>
        <%= yield %>
      </div>
  </div>
</body>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA6r93D1mHhWyaRh79vaTficpo47cnayLk&callback=initMap" ></script>
  <%= javascript_include_tag 'map' %>
</html>
